.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.btn{
    padding: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    box-shadow: var(--boxShadow) ;
    font-size: 16px;
    background-color: var(--redColor);
    color: var(--whiteColor);
    transition: all ease-in-out 200ms;
}
.btn:hover{
    box-shadow:var(--hoverBoxShadow);
    transform: translateY(-4px);
}
.link{
    text-decoration: none;
    color: var(--whiteColor);
}
/* Responsive */
@media only screen and (max-width: 576px) {
    .container{
        flex-direction: column;
    }
}