.user_details_heading {
    text-align: center;
    margin: 16px auto;
}

.customTable {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

.tableHeader {
    background-color: var(--redColor);
    color: var(--whiteColor);
}

.tableData,
.tableHead {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tableData:first-child {
    text-align: center;
}

.tableData:nth-child(3)>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.tableData:nth-child(4) {
    text-transform: capitalize;
}

.tableRow:nth-child(even) {
    background-color: #ECF2FF;
}

.backIconDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    width: 100%;
}

.backIconDiv>a {
    text-decoration: none;
    color: black;
}

.avatar_image {
    border-radius: 50%;
    width: 100%;
}

.loaderDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

/* Responsive */
@media only screen and (max-width: 820px) {
    .tableHeader {
        display: none;
    }

    .tableRow {
        display: block;
    }

    .tableData,
    .tableHead {
        padding: 4px;
    }

    .tableData {
        display: block;
        text-align: right;
    }

    .tableRow {
        margin: 5px auto;
    }

    .tableData:nth-child(3)>div {
        justify-content: end;
    }

    .tableRow:nth-child(even) {
        background-color: #ECF2FF;
    }

    .tableData::before {
        content: attr(data-title)":";
        float: left;
    }

    .tableData:first-child::before {
        content: "";
    }
}