.user_details_heading{
    text-align: center;
    margin: 16px auto;
}
.customTable {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
.tableHeader{
    background-color: var(--redColor);
    color: var(--whiteColor);
}
.tableData,.tableHead {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.tableData:first-child{
    text-align: center;
}
.tableData:nth-child(3)>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.tableData:nth-child(4){
    text-transform: capitalize;
}
.tableRow:nth-child(even) {
    background-color: #f2f2f2;
}
.backIconDiv{
    display: flex;
    align-items: center;
    padding: 0 24px;
}
.backIconDiv>a{
    text-decoration: none;
    color: black;
}
.avatar_image{
    border-radius: 50%;
    width: 100%;
}